[submodule "files/green"]
	path = files/green
	url = http://devops.dexter.com.br/root/aplicacao.git
	branch = green
[submodule "files/blue"]
	path = files/blue
	url = http://devops.dexter.com.br/root/aplicacao.git
	branch = blue
