[submodule "files/green"]
	path = files/green
	url = https://github.com/falencastro/aplicacao.git
	branch = green
[submodule "files/blue"]
	path = files/blue
	url = https://github.com/falencastro/aplicacao.git
	branch = blue
